*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{

    width: 100%;
    height: 100vh;
    background-image: url(images/principal.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.h2{

    width: 100px;
    cursor: pointer;
}


.navbar{

    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

button{
    color: rgb(255, 255, 255);
    padding: 20px 35px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 20px;
    background-color: #0000009d;

}



.content{

    color: #fbfcfd;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%);
    z-index: 2;
}

.mat{

    right: 50%;

}

h1{
    color: white;
    font-size: 80px;
    margin: 10px 0 30px;
    line-height: 80px;
}

h2{
    background-color: #0000009d;
    border-radius: 20px;
    color: white;
    padding: 15px;
}

h3{
    color: white;
}

.side-bar{

    width: 50px;
    height: 100vh;
    background: linear-gradient(#474747, #00000010);
    position: absolute;
    top: 0;
    right: 0;

}

.menu{

    display: block;
    width: 25px;
    margin: 40px auto 0;
    cursor: pointer;

}

.bubbles img{

    width: 50px;
    animation: bubble 7s linear infinite;

}

.bubbles {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;

}

@keyframes bubble{

    0%{
        transform: translateY(0);
        opacity: 0;
    } 
    
    50%{

        opacity: 1;
    }   
    70%{

        opacity: 1;
    }    
    
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }

}

.bubbles img:nth-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
}
.bubbles img:nth-child(7){
    animation-delay: 7s;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.sidebar{
    min-width: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
  
  }
  
  nav{

    background-color: #0000009d;
    display: flex;
    align-items: center;
    padding: 20px 8%;
    color: rgb(151, 151, 151);
    border-radius: 20px;
  }
  
  nav ul{
    flex: 1;
    text-align: right;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
  }
  
  nav ul li a{
    background-color: #0000009d;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  
  }

